/BarcodeScannerTFLite.xcodeproj/xcuserdata/rickwierenga.xcuserdatad/xcschemes/xcschememanagement.plist
/Pods
/BarcodeScannerTFLite.xcodeproj/project.xcworkspace/xcuserdata/rickwierenga.xcuserdatad/UserInterfaceState.xcuserstate
/BarcodeScannerTFLite/GoogleService-Info.plist
